ion-toolbar {
    --background: var(--bg);
}

.form_ctrl {
    width: 100%;
}

span.imgBgGrad {
    background: var(--grad);
    padding: 10px;
    border-radius: 10px;
    img {
        display: block;
        height: 20px;
        width: 20px;
    }
}

.cardOfnewLeave {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    background: white;
    padding: 5px;
    border-radius: 10px;
}

.form-error-msg {
    position: relative;
    top: -5px;
    left: 8px;
}

.owl-dt-control-button-content {
    color: red !important;
}