span.frt {
    font-size: 16px;
    color: #7987A8;
}

span.prt {
    font-size: 16px;
    color: var(--prime);
}

p {
    width: 86%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 22px;
}

img {
    background: #FFD8E3;
    padding: 24px;
    border-radius: 20px;
}