<ion-content fullscreen padding>
    <ion-grid class="mic login_grid">
        <ion-row>
            <ion-col size="12">
                <img src="assets/logo.png" class="logo mb80">
                <div>
                    <h1 class="login_title">
                        Forget, <br> Password?
                    </h1>
                    <span class="block sgray">
                        Don’t worry! It happens. Please enter the email id associated with your account.
                </span>
                </div>
            </ion-col>
            <ion-col size="12" class="mt50">
                <div class="inpt_login">
                    <div class="inpt_icns">
                        <img src="assets/at.svg">
                    </div>
                    <input type="email" class="input1" [(ngModel)]="email" placeholder="Email ID">
                    <div *ngIf="is_mail && !email" class="form-error-msg">
                        <div class="form-error-msg">Email is required</div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <span class="block sgray" (click)="openLogin()">Back to Login ?</span>
            </ion-col>
            <ion-col size="12" class="mt20 pt0">
                <button class="btn1" (click)="sendMail()">Reset Password</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>